<div class="add-item-button fas fa-plus"></div>
    <!-- begin section food of the day -->
    <section class="header-carousel">
        <div class="opacity-bg"></div>
        <div class="carousel-slides">
            <div class="carousel-item active">
                <div class="carousel-wrapper">
                    <div class="carousel-image item-1"></div>
                    <div class="carousel-content">
                        <div class="carousel-content-wrapper">
                            <div class="carousel-title">food of the day</div>
                            <div class="carousel-subtitle">tonkatsu ramen</div>
                            <div class="social">
                                <i class="far fa-heart carousel"><span class="heart-point">124</span></i>
                                <i class="far fa-comment-alt"><span>89</span></i>
                            </div>
                            <div class="carousel-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Ducimus possimus vero voluptates qui voluptas libero vero consectetur adipisicing ...</div>
                            <div class="carousel-button">Check it out</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-wrapper">
                    <div class="carousel-image item-2"></div>
                    <div class="carousel-content">
                        <div class="carousel-content-wrapper">
                            <div class="carousel-title">food of the day</div>
                            <div class="carousel-subtitle">chicken tinga tacos</div>
                            <div class="social">
                                <i class="far fa-heart carousel"><span class="heart-point">112</span></i>
                                <i class="far fa-comment-alt"><span>68</span></i>
                            </div>
                            <div class="carousel-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Ducimus possimus vero voluptates qui voluptas libero vero consectetur adipisicing ...</div>
                            <div class="carousel-button">Check it out</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-wrapper">
                    <div class="carousel-image item-3"></div>
                    <div class="carousel-content">
                        <div class="carousel-content-wrapper">
                            <div class="carousel-title">food of the day</div>
                            <div class="carousel-subtitle">magic garlicky tofu</div>
                            <div class="social">
                                <i class="far fa-heart carousel"><span class="heart-point">106</span></i>
                                <i class="far fa-comment-alt"><span>73</span></i>
                            </div>
                            <div class="carousel-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Ducimus possimus vero voluptates qui voluptas libero vero consectetur adipisicing ...</div>
                            <div class="carousel-button">Check it out</div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="carousel-indicators">
                <div class="circle"></div>
                <div class="carousel-indicators-wrapper">
                    <li class="active">01</li>
                    <li>02</li>
                    <li>03</li>
                </div>
                <i class="fas fa-angle-down next-slide"></i>
            </ul>
    </section>