<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Niramit:300i,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,500i,700,700i,800,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title><%= pageTitle%></title>
</head>
<body class="front-page">
    <a href="/admin" class="fas fa-arrow-left back-button back-button-user-page"></a>
    <div class="user-page-dark-bg"></div>
    <div class="user-avatar-wrapper">
        <div class="img-wrapper">
            <div class="img-wrapper-container">
                <img src="/avatar/crop/<%= user.avataUrl%>" alt="" class="user-page-avatar">
                <form action="/user-info-update" method="POST" enctype="multipart/form-data">
                    <div class="choose-avatar-wrapper">
                        <input type="file" class="user-choose-avatar" accept="image/*" onchange="preview_images(this)" name="avatar">                    
                    </div>
                    <button type="submit" class="button-save-avatar" disabled>Save</button>
                </form>
            </div>
        </div>
        <div class="user-info-wrapper">
            <div class="user-info-container">
                <div class="user-info-username">
                    <i class="fas fa-user"></i>
                    <div class="username-text">Username: <%= user.username%></div>
                </div>
                <div class="change-password-text">Change password</div>
                <form class="user-info-change-password" action="/user-password-update" method="POST">
                    <% if(check === 1) {%>
                        <p class="warning-text">Current password is wrong</p> 
                    <%} else if (check === 2) {%> 
                        <p class="warning-text">New Password not match</p>
                    <%} else if (check === 3) {%> 
                        <p class="warning-text">Change password successfuly!</p>
                    <% } %>
                    <div class="user-change-password-wrapper">
                        <input type="password" name="password" placeholder="Current password" class="current-password">
                        <input
                                type="password"
                                name="newpassword"
                                placeholder="New password"
                                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                title="Password must be of 8 or more characters (combination of upper-lower case character(s), one or more digits)"
                                class="new-password"
                        >
                        <input type="password" name="confpassword" placeholder="Confirm password" class="Confirm-password">
                        <button type="submit" class="user-info-submit">Change</button>
                    </div>
                </form>
            </div>  
        </div> 
    </div>  
    <script src="scripts/user-page.js"></script>
</body>
</html>